<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
  <link rel="stylesheet" type="text/css" href="css/grid-system.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.2/js.cookie.js"></script>
    <script src="script.js"></script>
    <script src="js/routes/router.js"></script>

    <script src="js/models/article.js"></script>
    <script src="js/models/category.js"></script>
    <script src="js/collections/article_list.js"></script>
    <script src="js/views/article_view.js"></script>
    <script src="js/views/app_view/appView.js"></script>
    <script src="js/views/app_view/loggedInView.js"></script>
    <script src="js/views/app_view/loggedOutView.js"></script>

    <script src="js/views/article_list_view.js"></script>

  <title>Pocket</title>
</head>
<body>
<!-- Below is navigation bar -->
<div class="header">
  <div class="container">
    <div class="logo">
      <h1><a href="#">PocketApp</h1>      
    </div>

    <div class="nav">
      <ul>
        <li><a href="#">Home</li>
        <li><a href="#">Login</li>
        <li><a href="#">Signup</li>
        <li id="search_container">
          <script type="text/template" id="search_template">
            <li><input type="text" id="search_input" /></li>
            <li><input type="button" id="search_button" value="Search me?" /></li>
          </script>
          </li> 
        </div>
      </ul>
    </div>
  </div>
</div>
<!-- end -->







  <div id="app"></div>
 <div id="article">
      <button class="sortBy">Sorter</button>
 
    <form action="#" id="add">
      <input type="text" id="url-upload" name="Url" placeholder="Please enter URL link"/>
      <input type="text" id="category-upload" name="category" placeholder="Enter the categories for this article"/>
      <input type="submit" value="Add"/>
    </form>
    <div id="articleList" class="pure-g">
      <!-- Articles will hopefully be loaded inside here -->
    </div>
  </div>







<script type="text/javascript">
  
  var search_view = new SearchView({ el: $("#search_container") });
</script>

  <!-- This is for articles -->
  <script id="appView" type="text/x-underscore-template">
  </script>
  <!-- end -->


  <script id="loggedOutView" type="text/x-underscore-template">
    <p>Login here:</p>
    <form id="login">
      <label>Email:</label>
      <input type="text" id="email" name="email">
      <label>Password:</label>
      <input type="password" id="password" name="password">
      <button type="submit">Login</button>
    </form>
  </script>

  <script id="loggedInView" type="text/x-underscore-template">
    logged in as: {{ PocketApp.currentUser }} <button id="logout">Logout</button>
  </script>
  <!-- Searchy search search <-->
  <!-- <% _.sortBy(articles, created_at).reverse() %> -->

  <script type="text/x-underscore-template "id="tpl_article">
    <h3 class="article"><%= title %></h3>
    <h5 class="article"><%= description %></h5>
    <img src= "http://app.qz.com/img/qz_og_img.png" alt="">

    <button class="edit"> Edit </button>
    <button class="remove">Remove</button>
    <% _.each(categories, function(category) { %>
     <%= category.name %>
     <% }); %>
    </script>
    
</body>




</html>





