<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/foundation.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script src="script.js"></script>
    <script src="js/routes/router.js"></script>

    <script src="js/models/article.js"></script>
    <script src="js/models/category.js"></script>
    <script src="js/collections/article_list.js"></script>
    <script src="js/views/article_view.js"></script>
    <script src="js/views/app_view/appView.js"></script>
    <script src="js/views/app_view/loggedInView.js"></script>
    <script src="js/views/app_view/loggedOutView.js"></script>

    <script src="js/views/article_list_view.js"></script>

  <title>Pocket</title>
</head>
<body>
<script type="text/template" id="search_template">
    <input type="text" id="search_input" />
    <input type="button" id="search_button" value="Search me?" />
</script>


  <div id="app"></div>
 <div id="article">
      <button class="sortBy">Sorter</button>
 
    <form action="#" id="add">
      <input type="text" id="url-upload" name="Url" placeholder="Please enter URL link"/>
      <input type="text" id="category-upload" name="category" placeholder="Enter the categories for this article"/>
      <input type="submit" value="Add"/>
    </form>
    <div id="articleList" class="pure-g">
      <!-- Articles will hopefully be loaded inside here -->
    </div>
  </div>






<div id="search_container"></div>

<script type="text/javascript">
  var SearchView = Backbone.View.extend({
    initialize: function(){
      this.render();
    },
    render: function(){
      //Pass variables in using Underscore.js Template
      var variables = { search_label: "My Search" };
      // Compile the template using underscore
      var template = _.template( $("#search_template").html(), variables );
      // Load the compiled HTML into the Backbone "el"
      this.$el.html( template );
    },
    events: {
      "click input[type=button]": "doSearch"  
    },
    doSearch: function( event ){
      debugger;
      // Button clicked, you can access the element that was clicked with event.currentTarget
      alert( "Search for " + $("#search_input").val() );
    }
  });

  var search_view = new SearchView({ el: $("#search_container") });
</script>

  <!-- This is for devise -->
  <script id="appView" type="text/x-underscore-template">
   <h1>PocketApp</h1>
      <div id="user">
      </div>
   <p>Navigation</p>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#search">Search</a></li>
    </ul>
  <div id="main">
  </div>
  </script>
  <script id="loggedOutView" type="text/x-underscore-template">
    <p>Login here:</p>
    <form>
      <label>Username:</label>
      <input type="text" id="username">
      <label>Password:</label>
      <input type="password" id="password">
      <button id="login">Login</button>
    </form>
  </script>

  <script id="loggedInView" type="text/x-underscore-template">
    logged in as: {{ PocketApp.currentUser }} <button id="logout">Logout</button>
  </script>
  <!-- Searchy search search <-->
  <!-- <% _.sortBy(articles, created_at).reverse() %> -->

  <script type="text/x-underscore-template "id="tpl_article">
    <h3 class="article"><%= title %></h3>
    <h5 class="article"><%= description %></h5>
    <img src= "http://app.qz.com/img/qz_og_img.png" alt="">

    <button class="edit"> Edit </button>
    <button class="remove">Remove</button>
    <% _.each(categories, function(category) { %>
     <%= category.name %>
     <% }); %>
    </script>
</body>




</html>





