.header {
  background: rgb(140, 70, 70);
  width: 100%;
  top: 0;
  position: fixed;
}

.logo {
  float: left;
  font-family: "helvetica";
  font-size: 35px;
  margin-left: 5%;
}

a { 
  font-size: 40px;
  text-decoration: none;
  color: rgb(88, 140, 126);

}

li {
  list-style: none;
  float: left;
  margin-left: 15px;
  padding-top: 15px;
}

.nav {
  float: right;
  margin-right: 15%;  
  font-size: 20px;
}

.button {
  /*color: rgb(140, 70, 70);*/
}

#search_button {

}

.articlething {
  padding: 20%;
}